doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name='color-scheme' content='dark only')
    meta(name='supported-color-schemes' content='dark only')
    title #{subject}
    block styles
    style.
      html {
        text-align: center;
        padding: 30px;
        font-family: Arial;
      }
      .header {
        margin-bottom: 20px;
        text-align: center;
      }
      .wrapper {
        height: 100%;
        padding: 30px;
      }


      .footer {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
      }

      @media only screen and (max-width: 600px) {
        .footer {
          max-width: 100%;
        }
      }

      .footerText {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: #707070;
        text-align: center;
      }
  body
    div.wrapper
      block content
      div.footer
        block footer